:root {
  --bg-color: rgb(32, 31, 26);
  --bg-dark: rgb(26, 25, 29);
  --primary-color: #fff;
  --brand-color: #2075da;
  --overlay-color: rgb(32, 31, 36);
  --overlay-bg-color: rgba(32, 31, 36, .6);
}

body {
  background: var(--bg-color);
  color: var(--primary-color);
  font-family: 'Open Sans', sans-serif;;
  margin: 0;
  padding: 0;
}

img {
  margin: 0 auto;
  max-width: 300px;
  width: 100%;
}

select {
  display: block;
}

p,
h2,
h3 {
  font-weight: normal;
  margin: 0;
}

.button {
  background: var(--brand-color);
  border: 0;
  border-radius: 3px;
  color: var(--primary-color);
  font-size: 24px;
  outline: 0;
  padding-bottom: 16px;
  padding-top: 16px;
  text-decoration: none;
}

.button--main {
  display: block;
  width: 100%;
}

.button--secondary {
  background: var(--bg-dark);
  border-radius: 10px;
  color: var(--brand-color);
  display: block;
  font-size: 14px;
  margin: 8px auto 0;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 80%;
}

.button--tertiary {
  background: var(--bg-dark);
  font-size: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.button--row-item {
  display: block;
  flex: 0 1 50%;
  margin-left: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.button--row-item:first-child {
  margin-left: 0;
}

.button--row-item:nth-child(0n + 2) span {
  display: block;
  transform: rotate(90deg);
}

.button--row-item:nth-child(0n + 3) span {
  display: block;
  transform: rotate(180deg);
}

.button--row-item:nth-child(0n + 4) span {
  display: block;
  transform: rotate(270deg);
}

.button--grid-item {
  margin: 0;
  padding: 8px 16px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.button--grid-item:nth-child(0n + 1) {
  left: 100%;
  top: 50%;
}

.button--grid-item:nth-child(0n + 2) {
  top: 100%;
  left: 50%;
}

.button--grid-item:nth-child(0n + 3) {
  left: 0;
  top: 50%;
}

.button--grid-item:nth-child(0n + 4) {
  left: 50%;
  top: 0;
}

.overlay-background {
  background: var(--overlay-bg-color);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.overlay {
  background: var(--overlay-color);
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  left: 50%;
  padding: 48px 32px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.remote-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  justify-content: flex-end;
  width: 100%;
}

.remote-container__section {
  box-sizing: border-box;
  flex: 0 1 86%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.remote-container__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15%;
}

.remote-container__top,
.remote-container__bottom {
  background: var(--bg-dark);
  color: var(--brand-color);
  flex: 0 1 7%;
  position: relative;
}

.remote-container__list {
  list-style-type: none;
  margin: 0 0 16px;
  padding: 0;
  text-align: left;
}

.remote-container__item {
  border-bottom: 1px solid #4e4e4e;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-top: 16px;
}

.remote-container__item .fa {
  margin-right: 16px;
  position: relative;
}

.remote-container__item .fa::after {
  background: #000;
  border-radius: 50%;
  content: '';
  display: block;
  height: 24px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  z-index: -1;
}

.remote-container__item:first-child {
  border-top: 1px solid #4e4e4e;
}

.content-container {
  display: block;
  flex: 0 1 auto;
  position: relative;
}

.centered-singleton {
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content-container__grid {
  flex: 0 1 100px;
  height: 100px;
  margin: 0 auto;
  width: 50%;
}

.content-container__buttons {
  display: flex;
  justify-content: space-between;
}

.content-container__buttons--symbols:nth-child(0n + 1) {
  text-decoration: underline;
}

.dropdown {
  font-size: 20px;
  margin: 8px auto;
  width: 50%;
}

.dropdown-label {
  font-size: 20px;
}

.radio {
  font-size: 20px;
  margin: 0 4px 0 16px;
}

.radio:first-child {
  margin-left: 0;
}

.radio,
.radio-label {
  height: 24px;
  vertical-align: middle;
}
